:root {
    --color-light: #ffffff;
    --color-dark: #000000;
    --font-body: "Poppins", sans-serif;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-body)
}

html {
    scroll-behavior: smooth;
    scroll-padding-bottom: 50px;
}

ul,
ol {
    list-style: none;
}

body {
    background-size: cover;
    background-image: linear-gradient(180deg,
                hsl(0deg 0% 0%) 0%,
                hsl(0deg 100% 10%) 23%,
                hsl(0deg 100% 11%) 32%,
                hsl(0deg 100% 11%) 38%,
                hsl(0deg 100% 11%) 44%,
                hsl(0deg 100% 12%) 49%,
                hsl(0deg 100% 12%) 53%,
                hsl(0deg 100% 13%) 57%,
                hsl(0deg 100% 13%) 61%,
                hsl(0deg 100% 14%) 65%,
                hsl(0deg 100% 14%) 69%,
                hsl(359deg 100% 15%) 74%,
                hsl(356deg 100% 16%) 79%,
                hsl(353deg 100% 16%) 85%,
                hsl(353deg 93% 17%) 100%);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 100%;
    height: 15vh;

    .h1 {
        color: var(--color-light);
    }
}

.hidden {
    display: none;
}

select,
option {
    background-color: var(--color-dark);
    color: var(--color-light);
    font-size: 24px;
    padding: 0 1em;
    border: solid 2px white;
    border-radius: 8px;
}

main {
    padding: 0 3em;
}

.header-page {
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
    margin-top: 2rem;

    .header-logo {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 10rem;
        height: 4rem;
    }
}

.material-symbols-outlined {
    color: white;
    font-size: 48px
}

.episodios {
    background-color: #111;
    border-radius: 8px;
    padding: 5rem;
    margin: 2rem;
}

.ficha img {
    height: 35rem;
    width: 25rem;
    margin: 0 3em 2em 0;
    border: solid 1px white;
    border-radius: 8px;
}

.ficha-descricao {
    display: flex;
}

.ficha-descricao div {
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.episodios-lista {
    height: 25vh;
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex-wrap: wrap;
    list-style-type: none;
}

h2 {
    font-size: 48px;
}

p {
    font-size: 22px;
}

@media screen and (max-width: 900px) {

    .ficha-descricao,
    .episodios-lista {
        display: block;
    }
}